.page {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: #000;
  color: white;
  margin: 0;
  padding: 0;
}

/* remove qualquer espaçamento estranho global */
.page * {
  box-sizing: border-box;
}